*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.partners-grid{
    width: 1196px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}



@media (max-width: 1055px){
    .partners-grid{
        grid-template-columns: repeat(3,1fr);

    }
}

@media (max-width:487px){
    .partners-grid{
        grid-template-columns: repeat(2,1fr);
    }
}