<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="hero-section.css" />
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-content">
        <h1 class="hero-title">Conoces nuestras historias de éxito</h1>
        <p class="hero-text">
          Historias que respaldan el servicio que nosotros entregamos y
          demuestran que somos una empresa líder en servicios Hosting
        </p>
      </div>
    </section>

    <section class="metrics">
      <div class="metrics-wrapper">
        <div class="metric">
          <p class="metric-number">+11.000</p>
          <p class="metric-title">Empresas activas</p>
        </div>

        <div class="metric">
          <p class="metric-number">+11.000</p>
          <p class="metric-title">Empresas activas</p>
        </div>

        <div class="metric">
          <p class="metric-number">+11.000</p>
          <p class="metric-title">Empresas activas</p>
        </div>
      </div>
    </section>
  </body>
</html>
